{% extends 'base.html.twig' %}

{% block title %}ModernFurniture{% endblock %}

{% block body %}
    <div class="prices">
        <h1>Prices</h1>
        <ul>
            <li aria-label="Chair Price">
                Chair - {{ chair_price }}
            </li>
        </ul>
    </div>
    <footer>
        <div>
            <a href="/modern">Checkout our modern furniture!</a>
        </div>
        <div>
            <a href="/houses">Checkout our houses!</a>
        </div>
    </footer>
{% endblock %}